<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
    <title>MTG Decks List</title>
  </head>
  <body>
    <section>
      <img class="bannerImage" src="https://img.redbull.com/images/c_crop,x_31,y_0,h_1120,w_1400/c_fill,w_1500,h_1000/q_auto,f_auto/redbullcom/2017/07/05/a9713c80-0f5a-475b-bcc6-5d8ea19f0f20/magic-the-gathering.jpg.jpg">  
    </section>
    <div class="d-flex-column" >
      <h1 class="text-shadow bord-bottom lrg-text" >My MTG Decks</h1>
      <div class="d-flex-column" >
        <ul class="no-list-style-type d-flex no-padding md-width">
        <%for(let i = 0; i < decks.length; i++){%>
            
                <li class="d-flex-column tenpx-spacing li-width">
                  <a href="/mtg/<%=decks[i]._id%>" class="no-text-decoration plainLink"
                    ><img src="<%=decks[i].img%>" class="deckImg"
                  /></a>
                  <a href="/mtg/<%=decks[i]._id%>"><p class="no-text-decoration plainLink text-wrap sm-text text-shadow self-center no-spacing"><%=decks[i].format%></p></a>
                  <a href="/mtg/<%=decks[i]._id%>"><p class="no-text-decoration plainLink text-wrap sm-text text-shadow self-center no-spacing"><%=decks[i].name%></p></a>
        <% } %>
      </div>
      <div class="fit-content">
        <a href="/mtg/new"><button class="button no-text-decoration linkTag">Brewing a New Deck?</button></a>
      </div>
    </div>
    <footer>
      <%-include('./partials/footer.ejs')%>
    </footer>
    </body>
</html>
