<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./partials/head.ejs')%>
    <title><%=deck.name%></title>
  </head>
  <body>
    <div class="body-width d-flex-column">
      <h1><%=deck.format%> <%=deck.name%></h1>
      <h3><%=deck.archetype%></h3>
      <div class="d-flex-wrap tenpx-spacing lrg-width">
        <%if (deck.lands == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Lands
          <div class="list-wrap tenpx-spacing">
            <%for(let l = 0; l < deck.lands.length; l++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.lands[l]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.creatures == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Creatures
          <div class="list-wrap tenpx-spacing">
            <%for(let c = 0; c < deck.creatures.length; c++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.creatures[c]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.planeswalkers == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Planeswalkers
          <div class="list-wrap tenpx-spacing">
            <%for(let p = 0; p < deck.planeswalkers.length; p++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.planeswalkers[p]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.artifacts == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Artifacts
          <div class="list-wrap tenpx-spacing">
            <%for(let a = 0; a < deck.artifacts.length; a++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.artifacts[a]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.instants == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Instants
          <div class="list-wrap tenpx-spacing">
            <%for(let i = 0; i < deck.instants.length; i++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.instants[i]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.sorceries == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Sorceries
          <div class="list-wrap tenpx-spacing">
            <%for(let s = 0; s < deck.sorceries.length; s++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.sorceries[s]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %> <%if (deck.enchantments == ""){%> <% } else { %>
        <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
          Enchantments
          <div class="list-wrap tenpx-spacing">
            <%for(let e = 0; e < deck.enchantments.length; e++) {%>
            <p class="margin-two thin-black-border bc-lt-gry">
              <%=deck.enchantments[e]%>
            </p>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      <p>Update this deck below:</p>
      <div class="lrg-width">
        <form
          action="/mtg/<%=deck._id%>?_method=PUT"
          method="POST"
          class="d-flex-wrap"
        >
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Lands: <%if (deck.lands == null){%>
            <input
              type="text"
              name="lands"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Lands"
            />
            <% } else { %> <%for(let l = 0; l < deck.lands.length + 1; l++){%>
            <input
              type="text"
              name="lands"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.lands[l]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Creatures: <%if (deck.creatures == null){%>
            <input
              type="text"
              name="creatures"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Creatures"
            />
            <% } else { %> <%for(let c = 0; c < deck.creatures.length + 1;
            c++){%>
            <input
              type="text"
              name="creatures"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.creatures[c]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Planeswalkers: <%if (deck.planeswalkers == null){%>
            <input
              type="text"
              name="planeswalkers"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Planeswalkers"
            />
            <% } else{ %> <%for(let p = 0; p < deck.planeswalkers.length + 1;
            p++){%>
            <input
              type="text"
              name="creatures"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.planeswalkers[p]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Artifacts: <%if (deck.artifacts == null){%>
            <input
              type="text"
              name="artifacts"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Artifacts"
            />
            <% } else { %> <%for(let a = 0; a < deck.artifacts.length + 1;
            a++){%>
            <input
              type="text"
              name="artifacts"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.artifacts[a]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Instants: <%if (deck.instants == null){%>
            <input
              type="text"
              name="instants"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Instants"
            />
            <% } else { %> <%for(let i = 0; i < deck.instants.length + 1;
            i++){%>
            <input
              type="text"
              name="instants"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.instants[i]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Sorceries: <%if (deck.sorceries == null){%>
            <input
              type="text"
              name="instants"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Instants"
            />
            <% } else { %> <%for(let s = 0; s < deck.sorceries.length + 1;
            s++){%>
            <input
              type="text"
              name="sorceries"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.sorceries[s]%>"
            />
            <% } %> <% } %>
          </div>
          <div class="d-flex-column thin-black-border tenpx-spacing box-shdw">
            Enchantments: <%if (deck.enchantments == null){%>
            <input
              type="text"
              name="instants"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="Instants"
            />
            <% } else { %> <%for(let e = 0; e < deck.enchantments.length + 1;
            e++){%>
            <input
              type="text"
              name="enchantments"
              class="fit-content-input thin-black-border bc-lt-gry"
              value="<%=deck.enchantments[e]%>"
            />
            <% } %> <% } %>
          </div>
        </form>
      </div>
      <div class="d-flex-column">
        <input
          type="submit"
          value="Update this Deck"
          class="button xlg linkTag"
        />

        <form
          action="/mtg/<%=deck._id%>?_method=DELETE"
          method="POST"
          class="form"
        >
          <input type="submit" value="DELETE" class="button lrg linkTag" />
        </form>
        <button type="button" class="button sm">
          <a href="/mtg" class="no-text-decoration linkTag">Home</a>
        </button>
      </div>
    </div>
  </body>
</html>
